<%= render(partial: 'top', locals: {user: @user}) %>

<div class="row">
  <span class="col-md-1"></span>
  <div id="main" class="col-md-4">
    <ul id="body" type="none">
      <% @friends.each do |f| %>
        <div class="row">
          <div class="col-md-5">
            <%= link_to "#{f.first_name} #{f.last_name}", users_show_path(user_id: f.id) %>
          </div>
            <div class="col-md-4">
              <%= render(partial: 'friendship', locals:{user: f}) %>
            </div></li>
        </div>
        <hr>
      <% end %>
    </ul>
  </div>
</div>