<div class="row" style="margin-top: 120px">
  <span class="col-sm-1"></span>
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, style: "width: 100px; height: 100px; border-radius: 50%" %>
  <% else %>
    <%= image_tag 'profile_pics/profile_pic.png', style: "width: 100px; height: 100px" %>
  <% end %>
  <div class="col-sm-3">
    <b><%= "#{current_user.first_name} #{current_user.last_name}" %></b>
  </div>
</div>
<br>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav mr-auto" style="flex-direction: row;">
        <li><a class="nav-item nav-link" href="/my_profile">Timeline</a></li>
        <li><a class="nav-item nav-link" href="/my_profiles/about">About</a></li>
        <li><a class="nav-item nav-link" href="/my_profiles/friends">Friends</a></li>
        <li><a class="nav-item nav-link" href="/my_profiles/photos">Photos</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>