<%= render 'top' %>

<div class="nav flex-column" style="float:left">
  <a href="/my_profiles/about" class="nav-item nav-link">Email and Password:</a>
  <%= link_to 'Profile Picture:', "/my_profiles/avatar_info", class: "nav-item nav-link", remote: true %>
</div>

<div id="main" class="card" style="width:50%">
  <div id="my_info" class="card-body">
    <%= render 'email_section' %>
  </div>
</div>
<br>

<div class="row">
  <span class="col-sm-2"></span>
  <span class="col-sm-4"><%= button_to "Delete my account", registration_path(:user), data: { confirm: "Are you sure?" }, method: :delete %></span>
</div>