<%= render(partial: 'home/navbar', locals: {user: @user}) %>

<div class="row">
  <span class="col-md-1"></span>
  <div id="main" class="col-md-4">
    <ul id="body" type="none">
      <% @friends.each do |f| %>
        <div class="row">
          <div class="col-md-5"><li><%= "#{f.first_name} #{f.last_name}\t" %></div>
          <div class="col-md-4"><i class="fa fa-check"></i> Friend</div></li>
        </div>
        <hr>
      <% end %>
    </ul>
  </div>
</div>