
<h2 id = "user"><%= current_user.email %>  </h2>
<%= link_to 'New post', new_post_path %>
<p>
  <h3>Timeline</h3>
</p>

<% @posts.each do |post| %>

  <%= render(partial: 'post',  :locals => {:post => post}) %>

<% end %>
<p>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
</p>