
<h2 id = "user"><%= current_user.email %>  </h2>
<%= link_to 'New post', new_post_path %>
<p>
  <h3>Timeline</h3>
</p>

<% @posts.each do |p| %>

  <%= render(:partial => "post",  :locals => {:p => p}) %>

<% end %>
<p>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
</p>

<script type="text/javascript">
  var colors = ['#ff0000', '#00ff00', '#0000ff'];
  var random_color = colors[Math.floor(Math.random() * colors.length)];
  document.getElementById('user').style.color = random_color;
</script>
