<div class="row" style="margin-top: 120px">
  <span class="col-md-1"></span>
  <div id="main" class="col-md-4">
    <ul id="body" type="none">
      <% @users.each do |user| %>
        <div class="row">
          <div class="col-md-5">
            <%= link_to "#{user.first_name} #{user.last_name}", home_show_path(user_id: user.id) %>
          </div>
          <div class="col-md-4">
            <%= render(partial: 'friendship', locals:{user: user}) %>
          </div></li>
        </div>
        <hr>
      <% end %>
    </ul>
  </div>
</div>